body{
  margin: 0;
  padding: 0;
  background-image: url('http://incurs.us/sites/default/files/2016-07/github-wallpaper-1.png');
  background-size: cover;
}
.avatar {
  width: 100%
}

.profile {
  margin-top: 10px;
}

img{
  max-width: 25px;
}